## Задача 44
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?
```
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()
```

In [1]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   human
1   robot
2   human
3   robot
4   human
5   human
6   robot
7   robot
8   human
9   robot
10  human
11  human
12  robot
13  robot
14  robot
15  human
16  robot
17  human
18  human
19  robot

Вид с помощью **get_dummies()**

In [2]:
pd.get_dummies(data)

    whoAmI_human  whoAmI_robot
0              1             0
1              0             1
2              1             0
3              0             1
4              1             0
5              1             0
6              0             1
7              0             1
8              1             0
9              0             1
10             1             0
11             1             0
12             0             1
13             0             1
14             0             1
15             1             0
16             0             1
17             1             0
18             1             0
19             0             1

Вид **one hot** без dummy

In [3]:
roboman = pd.DataFrame({'Man':lst, 'Robot':lst})
roboman['Man'] = data['whoAmI'].map({'human': 1, 'robot':0})
roboman['Robot'] = data['whoAmI'].map({'human': 0, 'robot':1})
roboman

    Man  Robot
0     1      0
1     0      1
2     1      0
3     0      1
4     1      0
5     1      0
6     0      1
7     0      1
8     1      0
9     0      1
10    1      0
11    1      0
12    0      1
13    0      1
14    0      1
15    1      0
16    0      1
17    1      0
18    1      0
19    0      1